<div class="container mt-5">
  <h2>Login</h2>
  <form (ngSubmit)="onLogin()">
    <div class="mb-3">
      <label for="login" class="form-label">Login</label>
      <input type="text" id="login" [(ngModel)]="loginData.login" name="login" class="form-control" required />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Senha</label>
      <input type="password" id="password" [(ngModel)]="loginData.password" name="password" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <p *ngIf="message">{{ message }}</p>
</div>
